<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
</div>
{{!-- create comment form --}}
  <div id="comment-form">
   <div class="comment">
      <div>
        <label for="comment-container">Leave a Comment!</label>
        <input class="input" type="text" id="comment-desc"/>
      <div class="form-group">
        <button class="btn btn-primary" id="comment-button" data-id={{id}}>Submit</button>
      </div>
      </div>
  </div>
</div>
{{log comments}}
{{#if comments}}
{{log post.comments}}
{{#each comments}}
<div>
  {{description}}
  <div>
    {{user.name}}
  </div>
</div>
{{/each}}
{{/if}}

<script src="/js/comment.js"></script>