{{!-- welcome message --}}
<div class="row">
  <div class="col-auto text-center">
    <h2 class="text-primary">Welcome, {{user_name}}!</h2>
  </div>
</div>
{{!-- create new blog post form --}}
<div class="row mt-4">
  <div class="mx-auto col-10 col-md-8 col-lg-6">
    <h4 class="text-link">Your new Blog Post!</h4>
    <form class="form" id="new-project-form">
      <div class="form-group">
        <label for="project-name">Blog Title:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      <div class="form-group">
        <label for="project-desc">Blog Content:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-secondary" id="create-button">Create Post!</button>
      </div>
    </form>
  </div>
</div>
{{!-- user's rendered recent blog posts --}}
<div class="row mt-4">
  <div class="mx-auto col-10 col-md-8 col-lg-6 project-list">
    {{#if posts.length}}
    <h4 class="text-link text-center">{{user_name}}'s recent Blog Posts!</h4>
    {{#each posts as |post|}}
    <div class="row mb-2 mt-4">
      <div class="col-md-8">
        <h4><a href="/post/{{post.id}}">{{post.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <a href="/edit-post/{{post.id}}" class="btn btn-sm btn-light" id="edit-button" role="button">Edit</a>
        <button class="btn btn-sm btn-primary delete-button" data-id={{post.id}}>Delete</button>
			</div>
    </div>
    {{/each}}
    {{/if}}
  </div>
</div>  
<script src="/js/profile.js"></script>


