<div class="row">
  <div class="col-auto text-center">
    <h2>Welcome, {{user_name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h4>Your new Blog Post!</h4>

    <form class="form" id="new-project-form">
      <div class="form-group">
        <label for="project-name">Blog Title:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      <div class="form-group">
        <label for="project-desc">Blog Content:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-secondary">Create Post!</button>
      </div>
    </form>
  </div>

  {{#if posts.length}}
  <div class="col-md-6 project-list">
    <h4>{{user_name}}'s recent Blog Posts!</h4>

    {{#each posts as |post|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/post/{{post.id}}">{{post.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <a href="/edit-post/{{post.id}}" class="btn btn-sm btn-light edit-button"role="button">Edit</a>
        <button class="btn btn-sm btn-info delete-button" data-id={{post.id}}>Delete</button>
			</div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>
<script src="/js/profile.js"></script>
